
MADD_app/.vscode/launch.json
*.pyc
*.py[cod]     # Will match .pyc, .pyo and .pyd files.
__pycache__/  # Exclude the whole folder
.pytest_cache
/MassDigitizer/.vscode
dist
build
.vscode
src/.vscode/launch.json
src/.vscode/launch.json
.vscode
*.sqlite3-journal
.venv
/MassDigitizer/*.bak
*.bak
DaSSCo.build/
DaSSCo.dist/
DaSSCo.onefile-build/
MassDigitizer/__main__.build/
MassDigitizer/__main__.dist/
MassDigitizer/__main__.onefile-build/
DaSSCo.exe
*.exe
/MassDigitizer/Output/*.zip
*.xlsx
MassDigitizer/.idea/
*.vsidx
.vs
.idea
