# Ignore Python bytecode and cache
*.pyc
*.py[cod]     # Will match .pyc, .pyo and .pyd files.
__pycache__/  # Exclude the whole folder
.pytest_cache

# Ignore virtual environment and related files
.venv
venv/

# Ignore build artifacts
build/
dist/
DaSSCo.build/
DaSSCo.dist/
DaSSCo.onefile-build/
MassDigitizer/__main__.build/
MassDigitizer/__main__.dist/
MassDigitizer/__main__.onefile-build/
bin/
debug/
release/

# Ignore Qt Creator specific files
*.pro.user
*.pro.user.*
*.qbs.user
*.creator.user
*.creator.user.*
*.txt.user
.qtc_clangd/
.qmake.stash
.qmake.cache

# Ignore editor and IDE configurations
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore project-specific files
MADD_app/.vscode/launch.json
src/.vscode/launch.json
MassDigitizer/.idea/
MassDigitizer/altgraph/*
MassDigitizer/altgraph-0.17.3.dist-info/*
MassDigitizer/db/db.sqlite3BIToLD
MassDigitizer/future-0.18.2.dist-info/*
MassDigitizer/future/backports/email/*
MassDigitizer/future/*
MassDigitizer/libfuturize/*
MassDigitizer/libpasteurize/fixes/feature_base.py
MassDigitizer/libpasteurize/*
MassDigitizer/output/*
MassDigitizer/pkg_resources/*
MassDigitizer/PyInstaller/*
MassDigitizer/setuptools*
MassDigitizer/pyinstaller*
MassDigitizer/pefile-2022.5.30.dist-info/LICENSE
MassDigitizer/pyapp/*
MassDigitizer/pywin32_ctypes*
MassDigitizer/_distutils_hack/*
MassDigitizer/pefile*
MassDigitizer/kick_off_sql_searches.py
MassDigitizer/log/*
MassDigitizer/temp/db.sqlite3
MassDigitizer/DaSSCo.dist - Copy/_asyncio.pyd
MassDigitizer/sql/editions/temp/db.sqlite3
MassDigitizer/db/test.sqlite3

# Ignore backup and log files
*.bak
/MassDigitizer/*.bak
*.log
/MassDigitizer/*.log

# Ignore binaries and executables
*.exe
DaSSCo.exe
*.dll

# Ignore other miscellaneous files
*.sqlite3-journal
*.spec
*.xlsx
*.vsidx
.vs
.*old
.*OLD
*OLD
*.bzl

# Ignore temporary files
/MassDigitizer/Output/*.zip