
MADD_app/.vscode/launch.json
*.pyc
*.py[cod]     # Will match .pyc, .pyo and .pyd files.
__pycache__/  # Exclude the whole folder
.pytest_cache
/MassDigitizer/.vscode
dist
build
.vscode
src/.vscode/launch.json
src/.vscode/launch.json
.vscode
*.sqlite3-journal
.venv
/MassDigitizer/*.bak
*.bak
DaSSCo.build/
DaSSCo.dist/
DaSSCo.onefile-build/
MassDigitizer/__main__.build/
MassDigitizer/__main__.dist/
MassDigitizer/__main__.onefile-build/
DaSSCo.exe
*.exe
/MassDigitizer/Output/*.zip
*.xlsx
MassDigitizer/.idea/
*.vsidx
.vs
.idea
MassDigitizer/altgraph/*
*.spec
MassDigitizer/altgraph-0.17.3.dist-info/*

MassDigitizer/db/db.sqlite3BIToLD
*.txt
MassDigitizer/future-0.18.2.dist-info/*
MassDigitizer/future/backports/email/*
MassDigitizer/future/*
MassDigitizer/libfuturize/*
MassDigitizer/libpasteurize/fixes/feature_base.py
*.dll
MassDigitizer/output/*
MassDigitizer/pkg_resources/*
MassDigitizer/PyInstaller/*
MassDigitizer/setuptools*
MassDigitizer/pyinstaller*
MassDigitizer/pefile-2022.5.30.dist-info/LICENSE
MassDigitizer/pyapp/*
MassDigitizer/pywin32_ctypes*
MassDigitizer/_distutils_hack/*
MassDigitizer/libpasteurize/*
*.bzl
.*old
.*OLD
*OLD
MassDigitizer/pefile*
MassDigitizer/kick_off_sql_searches.py
/MassDigitizer/*.log
MassDigitizer/log/*
MassDigitizer/temp/db.sqlite3
MassDigitizer/DaSSCo.dist - Copy/_asyncio.pyd
*.log
MassDigitizer/sql/editions/temp/db.sqlite3
MassDigitizer/db/test.sqlite3
.DS_Store
